@page
@model CodeRacer.Pages.SubmissionFiles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubmissionFile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionFile.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmissionFile.Owner.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionFile.Path)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmissionFile.Path)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubmissionFile.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
